body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

input, textarea {
  font-family: 'Poppins';
  padding: 10px;
  margin: 10px ;
  width: 300px;
}

button {
  font-family: 'Poppins';
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

p {
  color: #555;
}
